@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
	@apply mt-5 font-semibold text-center
}
p {
	@apply mb-2 pt-1
}
h1 {
	@apply text-3xl mt-2
}

h2 {
	@apply text-2xl text-center text-gray-800;
}

h3 {
	@apply text-lg text-gray-700
}
h4 {
	@apply text-lg
}

pre {
	@apply bg-gray-200/50 py-3 px-2
}

body {
	font-family: Fira Code;
	font-size: 14px;
}

.page {
	page-break-before: always;
}


li {
	list-style: disc;
}

ul {
	@apply pl-10 pb-3
}